<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basketlist</title>


</head>
<h3>index page</h3>

<br>
<%= link_to 'Interests Index', interests_path =%>
<br>
<%= link_to 'Bucket List Items Index', bucket_list_items_path =%>

<body ng-app="charlestonBucketList">


<ng-view>

</ng-view>




</body>
</html>
