<form id='addInterestForm' ng-submit="interestCtrl.addInterest(newInterest)">
  <legend>New Basket Item</legend>
  <input type="text" data-ng-model="newInterest.image" placeholder="Image URL">
  <input type="text" data-ng-model="newInterest.headline" placeholder="Headline">
  <textarea data-ng-model="newInterest.story" placeholder="Story Text"></textarea>
  <button type="submit" id='saveNewInterestButton'>Add New Interest</button>
</form>

<!-- photo, headline, byline(author name), date, text of story) -->
<!-- <div class='listItem'>
  <ul>
    <li ng-repeat="story in interestCtrl.getInterests" ng-hide="hideProduct">
      <p class='ListHeadline' ng-click="interestCtrl.routeTo('/news/detail/'+ story._id)">{{story.headline}}</p>
      <button ng-click="hideProduct = !hideProduct; newsCtrl.deleteArticle(story._id)">Delete Article</button>
    </li>
  </ul>
</div> -->
