<div class="header">
    <div class="header-center">
        <a href="#/">Home</a>
        <a href="#/interestAdd" class ="interestAdd"></a>
        <a href="#/admin" class ="bag nav">admin</a>
    </div>
</div>

<div class="wrapper">
    <h1>Pick a few Interests</h1>
    <ul>
        <li class="list" ng-repeat="product in mainCtrl.products">
            <div class="second">
                <img class="picture" ng-src="{{product.picture}}">
                <br>
                <p class = "title">{{product.title}}</p>

                <div ng-controller="CartController as cart">

                <button ng-click="cart.addCartProduct(product)">buy</button>
                </div>
                <br>
                <p class = "price">{{product.price}}</p>

            </div>
        </li>
    </ul>

</div>
