<div class="header">
    <div class="header-left">
        <a href="#/">Home</a>
        <a href="#/userBucket">My Bucket</a>
    </div>
</div>


<div class="s-wrapper">
    <h1>Your Bucketlist</h1>

<div ng-contrller="BucketController as bucket">

    <ul>
        <li class="list1" ng-repeat="item in bucket.items">
            <div class="first1">
                <img class="picture1" ng-src="{{item.picture}}">
                <p class = "title1">{{item.title}}</p>
            </div>
            <div class="button1">
                <button class="remove" ng-click="bucket.removeBucketInterest(item)">Delete bucket</button>

            </div>
        </li>
    </ul>

</div>



</div>
