//////////////body/wrapper/splash page/////
///////////////////////////////////////////
body {
    font-family: 'Lato', sans-serif;
}

header {
    height: 50px;
    line-height: 50px;
}

.logo {
    color: #77BFAB;
    font-size: 40px;
    margin: 0;
    padding: 0;

}

.navBar {
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: right;


    li {
        list-style-type: none;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 15px;

        a {
            color: #6f6c67;
            text-decoration: none;

        &:hover {
            color: #57d1a3;
            -webkit-transform: scale(0.9);
        }

        }
    }
}

.splashPic {
    opacity: 0.7;
    width: 100%;
}

  .welcomeUser {
   font-size: 20px;
   float: right;
   color: #6f6c67;
   position: relative;
   right: 110px;
}



///////media queries for splash page/////////////////////
////////////////////////////////////////////////////////


////////tablet size///////
@media (min-width: 768px){

    .logo {
        font-size: 30px;
    }

}

////////iphone/samsung///////
 @media (max-width: 320px) {
     .logo {
         font-size: 40px;
         text-align: center;
     }

}


///////////iphone6+////////
@media (max-width: 414px) {
    .navBar,
    .navBar li {
        display: block;
        width: initial;
        margin: initial;
    }
    .navBar {
        text-align: left;
        line-height: 30px;
        text-align: center;
        position: relative;
        left: 40px;

    }

    .navBar li {
        font-size: 15px;
    }

    .logo {
        font-size: 60px;
        line-height: 55px;
        text-align: left;
        margin-bottom: 5px;
    }
}

//////////iphone6///////////
@media (max-width: 375px) {
    .header,
    .navBar,
    .navBar li {
        display: block;
        width: initial;
        margin: initial;
    }
}
