/* 
@include transition(all 0.4s ease);
@include filter(blur(5px) grayscale(50%));
@include transform(scale(0.9)); */

///////////////////map//////////////////////
///////////////////////////////////////////

.angular-google-map-container {
    height: 400px;
    width: 100%;
}

//////////////body/wrapper/splash page//////////////////////////
///////////////////////////////////////////
body {
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
}

.main-wrapper {
    width: 90%;
    margin: auto;
}

.main-header {
    padding: 20px;
    display: table;
    width: 100%;
    min-height: 120px;
}
.header {
    display: table-cell;

    a {
        display: inline-block;

    }
}
.navBar {
    display: table-cell;
    vertical-align: middle;

    li {
        list-style-type: none;
        display: inline-block;


        a {
            display: block;

        }
    }
}

.splashPage {
  border: 2px double black;
  text-align: center;
}

.alert{
    -webkit-transition-timing-function: ease-out;
}

///////media queries for splash page/////////////////////
////////////////////////////////////////////////////////


////////tablet size///////
@media (max-width: 768px){
    .header,
    .navBar,
    .navBar li {
        display: inline-block;
        width: initial;
        margin: initial;
    }

    .navBar {
        padding-left: initial;
    }

}

////////iphone/samsung///////
@media (max-width: 320px) {
    .header,
    .navBar,
    .navBar li {
        display: block;
        width: initial;
        margin: initial;
    }
    .header img {
        width: 100%;
    }

}

///////////iphone6+////////
@media (max-width: 414px) {
    .header,
    .navBar,
    .navBar li {
        display: block;
        width: initial;
        margin: initial;
    }
    .header img {
        width: 100%;
    }
}

//////////iphone6///////////
@media (max-width: 375px) {
    .header,
    .navBar,
    .navBar li {
        display: block;
        width: initial;
        margin: initial;
    }
    .header img {
        width: 100%;
    }
}

///////////BUCKETLIST ITEM PAGE/////////
///////////////////////////////////////

.ItemsWrapper {
    padding: 20px;
    display: table;
    width: 100%;
    min-height: 120px;
    background-color: #eeeeee;
    border-top-left-radius: 20px;
}

input {
    border: 2px solid #FFFF66;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    font-size: 15px;

}

.list3 {
    list-style-type: none;
    display: inline-block;
    width: 30%;
    text-align: center;

    a{
        text-decoration: none;
    }
}

.bucketCard {
    border-top-left-radius: 10px;
    box-shadow: 5px 5px 3px #FFFF66;
    height: 200px;
    width: 200px;
}

.bucketItems {
    text-align: center;
}

.submitButton2 {
    float: right;

     a {
        text-decoration: none;
    }
}

.name2 {
    margin: 0;
    font-size: 20px;
}

///////tablet//////////////////////////
//////////////////////////////////////
@media (max-width: 768px) {
    .list3 {
        display: inline-block;
        padding: 5%;
        width: initial;
        margin: initial;
    }
}

//////////iphone 6+///////////////////////
/////////////////////////////////////////
@media (max-width: 414px) {
    .list3 {
        display: block;
        width: initial;
        margin: initial;
    }
}

//////////////iphone6///////////////////
///////////////////////////////////////
@media (max-width: 375px) {
    .list3 {
        display: block;
        width: initial;
        margin: initial;
    }
}

//////////////iphone/samsung///////////
//////////////////////////////////////
@media (max-width: 320px) {
    .list3 {
        display: block;
        width: initial;
        margin: initial;
    }

    .bucketItems {
        text-align: left;
        width: initial;
        margin: initial;
    }
}

/////////////////BUCKET DETAIL PAGE //////
/////////////////////////////////////////

.detailItemContainer {
    padding: 20px;
    display: table;
    width: 100%;
    min-height: 120px;
}

.wrapperDetail {
    box-shadow: 5px 5px 3px #E6E600;
    border: 4px solid #FFFF66;
    background-color: #FFFFE6;
    border-top-left-radius: 20px;
    width: 100%;

}
.details {
    padding-left: 5%;
    display: inline-block;
    width: 40%;
    float: left;
}

.gmap-container {
    display: inline-block;
    width: 50%;
    float: right;
    padding-right: 5%;
}


.bucketCardDetail {
    border-top-left-radius: 10px;
    box-shadow: 5px 5px 3px #FFFF66;
    height: 200px;
    width: 400px;
}

.itemDetail {
    text-align: center;
}

.name3 {
    font-size: 20px;
}

/////////////userBucket view/////////////
////////////////////////////////////////

.userWrapper {
    background-color: #eeeeee;
    border-top-left-radius: 20px;
    padding: 20px;
    display: table;
    width: 100%;
    min-height: 120px;
}

.bucketCardUser {
    border-top-left-radius: 10px;
    box-shadow: 5px 5px 3px #FFFF66;
    height: 300px;
    width: 400px;
}

.userList {
    list-style-type: none;
    display: inline-block;
    width: 50%;

}

////////////////media queries /////////////
///////////////////////////////////////////

////////////tablet////////////////////////

@media (max-width: 768px) {

    .bucketCardUser {
        border-top-left-radius: 10px;
        box-shadow: 5px 5px 3px #FFFF66;
        width: 100%;
    }

    .userList {
        display: block;
        width: initial;

    }
}

//////////////iphone 6+ /////////////////////
////////////////////////////////////////////

@media (max-width: 414px) {
    .bucketCardUser {
        border-top-left-radius: 10px;
        box-shadow: 5px 5px 3px #FFFF66;
        width: 100%;
    }

    .userList {
        display: block;
        width: initial;

    }

    .userTitle {
        font-size: 40px;
        text-align: center;
    }
}

///////////////iphone 6//////////////////////
////////////////////////////////////////////

@media (max-width: 375px) {
    .bucketCardUser {
        border-top-left-radius: 10px;
        box-shadow: 5px 5px 3px #FFFF66;
        width: 100%;
        height: 200px;
    }

    .userList {
        display: block;
        width: initial;
        padding-right: 15%;
        padding-top: 10%;

    }

    .userTitle {
        font-size: 40px;
        text-align: center;
    }

}

///////////////iphone/samsung//////////
///////////////////////////////////////

@media (max-width: 320px) {
    .bucketCardUser {
        border-top-left-radius: 10px;
        box-shadow: 5px 5px 3px #FFFF66;
        width: 100%;
        height: 100px;
    }

    .userList {
        display: block;
        width: initial;
        padding-right: 15%;
        padding-top: 10%;

    }

    .userTitle {
        font-size: 30px;
        text-align: center;
    }

}

/////////////add interest/ modal//////////
/////////////////////////////////////////

#modal {
  background: white;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  margin: -25% 0 0 -25%;
  transform: scale(1.5);
  opacity: 0;
  pointer-events: none;
}

.dialogIsOpen #page-wrap {
  -webkit-filter: blur(5px) grayscale(50%);
  -webkit-transform: scale(0.9);

}

.dialogIsOpen #modal {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;

}

#page-wrap, #modal {
  transition: all 0.4s ease; /* prefix me */

}
