<form ng-upload="uploadComplete(content)" action="/bucket_list_items.json" method="post" enctype="multipart/form-data">
    <input type="file" name="image"></input>
    <input type="text" placeholder="Title" name="name" ng-model="name" />
    <input type="text" placeholder="Description" name="description" ng-model="description" />
    <input type="text" placeholder="streetAdd" name="street_addresss" ng-model="street_address" />
    <input type="text" placeholder="city" name="city" ng-model="city" />
    <input type="text" placeholder="state" name="state" ng-model="state" />
    <input type="text" placeholder="zipcode" name="zip_code" ng-model="zip_code" />
    <input type="text" placeholder="latitude" name="latitude" ng-model="latitude" />
    <input type="text" placeholder="longitude" name="longitude" ng-model="longitude" />
    <input type="submit" value="Upload" ng-disabled="$isUploading"></input>
</form>
