<div class="add">
    <form ng-controller="BucketController as bucketCtrl">

        <input type="text" ng-model="item.name" placeholder="Title">
        <input type="text" ng-model="item.description" placeholder="Description">
        <input type="text" ng-model="item.street_address" placeholder="streetAdd">
        <input type="text" ng-model="item.city" placeholder="city">
        <input type="text" ng-model="item.state" placeholder="state">
        <input type="text" ng-model="item.zip_code" placeholder="zipcode">
        <button ng-click="bucketCtrl.addNewBucketItem(item)">Add new BucketItem
        </button>
    </form>
</div>


<form ng-upload="complete(content)" action="/bucket_list_items" method="post">
    <input type="file" name="image"></input>
    <input type="text" placeholder="Title">
    <input type="text" placeholder="Description">
    <input type="text" placeholder="streetAdd">
    <input type="text" placeholder="city">
    <input type="text" placeholder="state">
    <input type="text" placeholder="zipcode">
    <input type="submit" value="Upload" ng-disabled="$isUploading"></input>
</form>
<!-- 
params[:bucket_list_item] = { file: params[:image], db: params[:angular]}


response.whatever -->
