<!-- 

<input class="modalState" id="modal-1" type="checkbox" />
<div class="modal">
  <label class="modalB" for="modal-1"></label>
  <div class="innerModal">
    <label class="closeModal" for="modal-1"></label>
    <h3> Add your own Basket Item </h3>
        <input type="text" ng-model="item.image_file_name" placeholder="Picture">
        <input type="text" ng-model="item.name" placeholder="Title">
        <input type="text" ng-model="item.description" placeholder="Description">
        <input type="text" ng-model="item.street_address" placeholder="streetAdd">
        <input type="text" ng-model="item.city" placeholder="city">
        <input type="text" ng-model="item.state" placeholder="state">
        <input type="text" ng-model="item.zip_code" placeholder="zipcode">
        <input type="text" ng-model="item.latitude" placeholder= "Latitude">
        <input type="text" ng-model="item.longitude" placeholder= "Longitude">
        <button ng-click="bucketCtrl.addNewBucketItem(item)">Add new BucketItem
        </button>
  </div>
</div> -->
