<h1> this is the bucket list item detail </h1>

<div class="wrapper" ng-controller="DetailController as bucketDtl">
    <ul>
        <li class="list5" ng-repeat="bucketDtl in bucketDtl.items track by $index">
          <div class="second5">
              <img src="http://bucket-list-tiy-final.s3.amazonaws.com/items/{{bucketDtl.image_file_name}}">
            <br>
            <p>{{bucketDtl.getSingleDetail.title}}
            </p>
            <p class = "description">{{bucketDtl.description}}
            </p>
            <p class = "city">{{bucketDtl.city}}
            </p>
            <p class = "state">{{bucketDtl.state}}
            </p>
            <p class = "zipcode">{{bucketDtl.zipcode}}
            </p>
            <p class = "streetadd">{{bucketDtl.street_address}}
            </p>
            <button ng-click="bucketDtl.removeBucketDetail(item)">delete
            </button>
          </div>
        </li>
    </ul>

<div class="maps"></div>
</div>
