<div class="ItemsWrapper" ng-controller="BucketController as bucketCtrl">
    <div class="interestItemPage">
        <h1 class="bucketItems"> Choose the items you'd like to add to your bucket..</h1>
    </div>
    <div class="searchFilter">
        <input ng-model="query" type="text" name="searchbox" placeholder="search interests..." height="40">
    </div>
    <ul>
      <li class="list3" ng-repeat="bucket in bucketCtrl.items | filter:query as results" ng-class="'odd'" ng-class"'even'">

        <div class="second3">
            <!-- <div ng-controller="DetailController as bucketDtl"> -->
            <a href="" ng-click="bucketCtrl.goToBucketDetail(bucket.id)">
                <img src="http://bucket-list-tiy-final.s3.amazonaws.com/items/{{bucket.image_file_name}}" class="bucketCard">
            </a>
            <!-- </div> -->
            <br>
            <p class ="name2">{{bucket.name}}</p>
            </div>

            <!-- <div ng-controller="UserController as userCtrl"> -->
                <input type="checkbox" class="checkbox" ng-click="bucketCtrl.addItemToUserBucket(bucket)">
            <!-- </div> -->
        </div>
      </li>
    </ul>
</div>

<div ng-controller="BucketController as bucketCtrl">
    <div class="submitButton2">
        <a href="" ng-click="bucketCtrl.addUserBucketArray()"><img src="/assets/submitbutton.gif"></a>
    </div>

<!-- </div> -->
