
<div id="page-wrap">
    <div class="interestItemPage">
        <h1 class="bucketItems"> Choose the items you'd like to add to your bucket..</h1>
    </div>
    <div class="searchFilter">
        <input ng-model="query" type="text" name="searchbox" placeholder="search interests..." height="40">
    </div>
    <ul>
      <li class="list3" ng-repeat="bucket in bucketCtrl.bucketItems.items | filter:query as results" ng-class="'odd'" ng-class"'even'">

        <div class="second3">

            <a href="" ng-click="bucketCtrl.goToBucketDetail(bucket.id)">
                <img src="http://bucket-list-tiy-final.s3.amazonaws.com/items/{{bucket.image_file_name}}" class="bucketCard">
            </a>

            <br>
            <p class ="name2">{{bucket.name}}</p>
            </div>


                <input type="checkbox" class="checkbox" ng-click="bucketCtrl.addItemToUserBucket(bucket)">


            <a href="#/editItem/{{bucket.id}}"><button>edit
            </button></a>

              <button ng-click="bucketCtrl.removeBucketItem(bucket)">Delete
              </button>
            </div>

        </div>
      </li>
    </ul>
</div>
</div>

    <div class="submitButton2">
        <a href="" ng-click="bucketCtrl.addUserBucketArray()"><img src="/assets/submitbutton.gif"></a>
    </div>
</div>

<!--

<div id="modal">
   <a href="#close" title="close" class="close">X</a>
   <h3> Add your own Basket Item </h3>
   <form ng-controller="BucketController as bucketCtrl">
       <input type="text" ng-model="item.image_file_name" placeholder="Picture">
       <input type="text" ng-model="item.name" placeholder="Title">
       <input type="text" ng-model="item.description" placeholder="Description">
       <input type="text" ng-model="item.street_address" placeholder="streetAdd">
       <input type="text" ng-model="item.city" placeholder="city">
       <input type="text" ng-model="item.state" placeholder="state">
       <input type="text" ng-model="item.zip_code" placeholder="zipcode">
       <button ng-click="bucketCtrl.addNewBucketItem(item)">Add new BucketItem
       </button>
   </form>
</div>  -->
