<div class="rightArrow">
    <a href="#/users/{{currentUser.id}}"><i class="fa fa-angle-double-right fa-4x"></i></a>
</div>
<div id="grid-wrapper">
    <div class="interestItemPage">
        <h1 class="grid-12 bucketItems"> Choose activities to add to your Charleston Basketlist</h1>
    </div>
    <div class="grid-8 searchFilter">
        <input ng-model="query" type="text" name="searchbox" placeholder= "search">
        <label <i class="grid-4 fa fa-plus fa-2x" for="modal-1"></i></label>
    </div>
    <div class="list3" ng-repeat="bucket in bucketItems.items | filter:query as results" ng-class="'odd'" ng-class"'even'">
    <div class="grid-12 second3">
        <a href="" ng-click="bucketCtrl.goToBucketDetail(bucket.id)">
            <img src="http://bucket-list-tiy-final.s3.amazonaws.com/items/{{bucket.image_file_name}}" class="bucketCard">
        </a>
    </div>
        <br>
            <p class ="grid-12 name2">{{bucket.name}}
            </p>
            <div class="grid-12 bucketItemNav">
                <ul>
                    <li>
                        <input type="checkbox" class="grid-4 checkbox" ng-click="bucketCtrl.addItemToUserBucket(bucket)">
                        <a href="#/editItem/{{bucket.id}}"><label <i class="fa fa-pencil" ng-click=""></i></a>
                        </label>
                        <div ng-click="bucketCtrl.removeBucketItem(bucket)" <i class="fa fa-times"></i>
                        </div>
                    </li>
                <ul>
            </div>
    </div>
</div>

    <div class="submitButton2">
        <a href="" ng-click="bucketCtrl.addUserBucketArray()">SUBMIT</a>
    </div>




<!-----modal views------------------------------------>

<input class="modalState" id="modal-1" type="checkbox"/>
    <div class="modal">
      <label class="modalB" for="modal-1"></label>
    <div class="innerModal">
      <label class="closeModal" for="modal-1"></label>
    <h3> Add your own Basket Item </h3>
    <form ng-upload="uploadComplete(content)" action="/bucket_list_items.json" method="post" enctype="multipart/form-data">
        <input type="file" name="image"></input>
        <input type="text" placeholder="Title" name="name" ng-model="name" />
        <input type="text" placeholder="Description" name="description" ng-model="description" />
        <input type="text" placeholder="streetAdd" name="street_addresss" ng-model="street_address" />
        <input type="text" placeholder="city" name="city" ng-model="city" />
        <input type="text" placeholder="state" name="state" ng-model="state" />
        <input type="text" placeholder="zipcode" name="zip_code" ng-model="zip_code" />
        <input type="text" placeholder="latitude" name="latitude" ng-model="latitude" />
        <input type="text" placeholder="longitude" name="longitude" ng-model="longitude" />
        <input type="submit" value="Upload" ng-disabled="$isUploading"></input>
</form>
  </div>
  </div>

<!-- <input class="modalState" id="modal-2" type="checkbox" />
    <div class="modal">
      <label class="modalB" for="modal-2"></label>
    <div class="innerModal">
      <label class="closeModal" for="modal-2"></label>
    <h3>Edit this Bucket</h3>
    <form ng-submit="bucketCtrl.editNewBucketItem(item)">
        <input type="text" ng-model="item.name" placeholder="Title">
        <input type="text" ng-model="item.description" placeholder="Description">
        <input type="text" ng-model="item.street_address" placeholder="streetAdd">
        <input type="text" ng-model="item.city" placeholder="city">
        <input type="text" ng-model="item.state" placeholder="state">
        <input type="text" ng-model="item.zip_code" placeholder="zipcode">
        <input type="text" ng-model="item.latitude" placeholder= "Latitude">
        <input type="text" ng-model="item.longitude" placeholder= "Longitude">
        <button action="submit">Add edited bucket
        </button>
  </div> -->
</div>
