<h1> this is the users bucket </h1>


<div class="wrapper" ng-controller="UserController as user">
    <ul>
        <li class="list4" ng-repeat='item in currentUser.bucket_list_items'>
        <div class="second4">
            <img src="http://bucket-list-tiy-final.s3.amazonaws.com/items/{{item.image_file_name}}" class="bucketCard">
            <br>
            <p class = "name">{{item.name}}
            </p>
            <div ng-if="currentUser.id==item.item_completes[0].user_id">
                <p class = "completed" ng-if="item.item_completes[0].completed">I did it!
                </p>
            </div>
            <button ng-click="user.completedBucketItems()">get completed
            </button>
            <button ng-click="user.userItemCompleted(item)">Set complete
            </button>
            <button ng-click="user.removeUserBucket(item)">delete
            </button>

<!--             <div ng-controller="DetailController as bucketDtl">
                <button ng-click="bucketDtl.addBucketDetail(bucketdtl)">Add
                </button>
            </div> -->
        </div>
        </li>
    </ul>
</div>


<!-- <li class="list4" ng-repeat="user in user.items track by $index" -->
