<div class="userWrapper" ng-controller="UserController as user">
    <h1 class="userTitle">{{currentUser.first_name}}'s bucket </h1>
    <ul>
        <li class="userList" ng-repeat='item in user.userData.bucket_list_items'>
        <div class="second4">
            <img src="http://bucket-list-tiy-final.s3.amazonaws.com/items/{{item.image_file_name}}" class="bucketCardUser">
            <br>
            <p class = "name">{{item.name}}
            </p>
            <button ng-click="user.completedBucketItems()">get completed
            </button>
            <button ng-click="user.userItemCompleted(item)">Set complete
            </button>
            <button ng-click="user.removeBucketItem(item)">delete
            </button>

<!--             <div ng-controller="DetailController as bucketDtl">
                <button ng-click="bucketDtl.addBucketDetail(bucketdtl)">Add
                </button>
            </div> -->
        </div>
        </li>
    </ul>

    <div>Completed Items</div>
        <ul>
            <li ng-repeat="completed in user.userCompleted">
                <p>{{completed.bucket_list_item.name}}
                </p>
            </li>
        </ul>

</div>



<!-- <li class="list4" ng-repeat="user in user.items track by $index" -->
